// Viewports------------------------------------------------------------
// breakpoint
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1300px;

// Calors---------------------------------------------------------------
$white: #ffffff;
$black: #000000;

$white-opacity-00: rgba(100, 100, 100, 0);
$white-opacity-02: rgba(255, 255, 255, 0.2);

$basic-900: #050505;
$basic-500: #f2f2f2;
$basic-400: #eaeaea;
$basic-300: #e6e6e6;
$basic-200: #d9d9d9;
$basic-100: #cdcdcd;
$basic-spec: #dcdcdc;
$basic-spec-2: #b2b2b2;
$basic-spec-3: #666666;
$basic-spec-4: #bababa;
$basic-spec-5: #444444;
$basic-spec-6: #e7e7e7;
$basic-spec-7: #ebebeb;
$basic-spec-8: #222222;
$basic-spec-9: #111111;
$basic-spec-10: #c4c4c4;
$basic-spec-5-03: rgba(68, 68, 68, 0.3);
$black-spec-03: rgba(68, 68, 68, 0.3);

$primary-500: #68b738;
$primary-700: #5eaa2f;
$primary-500-07: rgba(104, 183, 56, 0.7);


// Other
$header-desktop-height: 150px;
$result-data-mobile-width: 124px;
$result-data-tablet-width: 162px;
