.burger {
  @include button-reset;


  width: 25px;
  height: 25px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--closed {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 24px;
      height: 2px;
      transition: all 0.3s ease 0s;
      background-color: $black;
      box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
    }
  }

  &--opened {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 24px;
      height: 2px;
      transition: all 0.3s ease 0s;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
