.catalog {
  background-color: inherit;
}

.catalog__container {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.catalog__title {
  margin-bottom: 41px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }
}

.catalog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    row-gap: 140px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    row-gap: 144px;
    column-gap: 80px;
  }
}

.catalog__item {
  min-height: 209px;

  @media (max-width: $mobile-width-only) {
    margin: 0 -20px;
    border-bottom: 1px solid $basic-spec-7;

    &:first-child {
      border-top: 1px solid $basic-spec-7;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 511px;
    padding-top: 80px;
  }
}
