.checkbox {
  --checkbox-mobile-size: 26px;
  --checkbox-tablet-size: 40px;
  --checkbox-border-size: 1px;
  display: flex;
  align-items: center;
  height: var(--checkbox-mobile-size);

  @media (min-width: $tablet-width) {
    min-height: var(--checkbox-tablet-size);
  }
}

.checkbox__input {
  position: absolute;
  appearance: none;

  &:checked + .checkbox__checkbox {
    &::after {
      opacity: 1;
    }
  }

  &:focus + .checkbox__checkbox {
    border: 1px solid $basic-spec-4;
  }

  &:hover + .checkbox__checkbox {
    border: 1px solid $basic-spec-4;
  }

  &:disabled ~ .checkbox__checkbox {
    opacity: 0.3;
  }

  &:disabled ~ .checkbox__text {
    opacity: 0.3;
  }
}

.checkbox__checkbox {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--checkbox-mobile-size);
  height: var(--checkbox-mobile-size);
  border: 1px solid $basic-100;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    left: calc((var(--checkbox-mobile-size) / 2) - var(--checkbox-border-size));
    top: 50%;
    width: 18px;
    height: 10px;
    border-radius: 1px;
    border-left: 2px solid $primary-500;
    border-bottom: 2px solid $primary-500;
    transform: translate(-50%, -70%) rotate(-45deg);
    opacity: 0;
  }

  @media (min-width: $tablet-width) {
    width: var(--checkbox-tablet-size);
    height: var(--checkbox-tablet-size);

    &::after {
      left: calc((var(--checkbox-tablet-size) / 2) - var(--checkbox-border-size));
      width: 24px;
      height: 12px;
    }
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: calc(var(--checkbox-mobile-size) + 16px);
  cursor: pointer;
  outline: none;
  // fonts
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-left: calc(var(--checkbox-tablet-size) + 19px);
    // fonts
    font-size: 20px;
    line-height: 30px;
  }
}
