.example {
  position: relative;
  padding: 10px 0 36px 0;
  background-color: $basic-400;

  @media (min-width: $tablet-width) {
    padding: 42px 0 0;
    background-color: $white;
  }
}

.example__container {
}

.example__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    padding: 0;
  }
}

.example__content {
  background-color: inherit;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 40px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    padding-bottom: 72px;
    background-color: $basic-400;
  }
}

.example__iner {
  background-color: inherit;

  @media (min-width: $desktop-width) {
    min-height: 320px;
    padding-right: 60%;
  }
}

.example__description {
  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__info {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__data {
  width: calc(50% - 16px);
  background-color: inherit;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: calc(25% - 16px);
    margin-right: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 162px;
  }
}

.example__data-costs {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  // fonts
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0 0 0 auto;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    margin-top: 48px;
  }
}

.example__slider {
  background-color: inherit;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

