// footer
.footer {
  background-color: $basic-500;
}

.footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }
}

.footer__logo {
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social {
  min-height: 63px;
}

.footer__copyright {
  min-height: 78px;
}
