.form {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__customers-contact-title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__customers-comment-title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__additional-title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

// form__main-info
.form__main-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 65px;
  }
}

.form__fieldset {
  @include fieldset-reset;

  legend {
    @include legend-reset;
  }
}

.form__cat-data {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 47%;
    margin-bottom: 0;
  }
}

.form__program-type {
  @media (max-width: $mobile-width-only) {
    margin: 0 -20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 20px;
    border-top: 1px solid $basic-300;
    border-bottom: 1px solid $basic-300;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $basic-300;
    padding: 26px 28px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 47%;
    margin-right: 0;
  }
}

.form__list {
  @include list-reset;
  width: 100%;

  &--customers-contact {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.form__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--customers-contact {
    @media (min-width: $desktop-width) {
      flex: 0 1 47%;
    }
  }
}

.form__item-checkbox {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.form__item-radio {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  position: relative;
  display: flex;
  align-items: center;
  height: 46px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.form__label {
  flex: 0 0 auto;
  margin-right: 14px;
  text-transform: uppercase;
  // fonts
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.form__text-input {
  outline: none;
  flex: 1 0 auto;
  height: 100%;
  border: 1px solid $basic-300;
  padding: 5px 15px;
  transition: fill 0.2s linear;
  // fonts
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    text-transform: uppercase;
  }

  &:invalid {
    border: 2px solid $error-status;
  }

  &:hover {
    border: 2px solid $basic-100;
  }

  &:focus {
    border: 2px solid $basic-spec-5;

    & ~ .form__input-icon--email {
      stroke: $primary-500;
    }

    & ~ .form__input-icon--phone {
      fill: $primary-500;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 5px 19px;
    // fonts
    font-size: 20px;
    line-height: 30px;
  }
}

.form__radio-button {
  margin: 0;
  padding: 0;
}

// form__customers-contact
.form__customers-contact {
  margin-bottom: 23.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.form__input-icon {
  position: absolute;

  &--email {
    right: 15px;
    fill: none;
    stroke: $black;
  }

  &--phone {
    right: 15px;
    fill: $black;
  }
}

// form__customers-comment
.form__customers-comment {
  margin-bottom: 22.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.form__textaria {
  outline: none;
  width: 100%;
  height: 150px;
  padding: 9.5px 13px;
  color: $basic-spec-5;
  border: 1px solid $basic-spec-6;
  // fonts
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 10px 19px;
    // fonts
    font-size: 20px;
    line-height: 30px;
  }
}

// form__additional
.form__additional {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.form__checkboxes-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}


// form__submite
.form__submit-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    // fonts
    flex-direction: row;
  }
}

.form__submit {
  width: 100%;
  // fonts
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    // fonts
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__legend {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 21px 0;
  // fonts
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
    margin-left: 61px;
    // fonts
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}
