.header {
  background-color: $white;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 68px;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-height: 66px;
}

// logo
.logo__text {
  flex: 1 1 auto;
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
// logo

// burger
.burger {
  @include button-reset;
  width: 25px;
  height: 25px;
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--closed {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 24px;
      height: 2px;

      background-color: $black;
      box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
    }
  }

  &--opened {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 24px;
      height: 2px;

      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

// burger

//---main-nav---
.main-nav {
  flex: 0 1 100%;
  background-color: $basic-gray;
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: $black;
  text-transform: uppercase;
  // fonts
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
}
//---main-nav---

.contacts__map-iframe {
  width: 100%;
}
