// logo
.logo {
  display: flex;

  &:hover .logo__icon,
  &:hover .logo__text {
    opacity: 0.8;
  }

  &:active .logo__icon,
  &:active .logo__text {
    opacity: 0.6;
  }
}

.logo__icon {
  transition: opacity 0.2s linear;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }
}

.logo__text {
  flex: 1 1 auto;
  transition: opacity 0.2s linear;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex: 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    flex: 1 1 auto;

    img {
      width: 100%;
    }
  }
}
