.main-button {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 26.5px;

  transition: all 0.2s linear;
  background-color: $primary-green-500;
  color: $white;
  text-transform: uppercase;
  //Fonts
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    background-color: $primary-green-700;
  }

  &:active {
    color: $white-opacity-02;
  }
}
