.programs {
  background-color: inherit;
}

.programs__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__card {
  background-color: $basic-500;
}
