.main__programs {
  margin-bottom: 27px;
}

// programs
.programs {
}
.programs__container {
}

.programs__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__card {
  background-color: $basic-grey;
}


// program-card
.program-card {
  display: grid;
  align-items: center;
  grid-template-areas: "img title" "text text" "link link";
  grid-template-columns: 50px 1fr;
  grid-gap: 20px;
  padding: 20px 20px 0 20px;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    grid-template-areas: "title img" "text img" "link img";
    grid-template-columns: 1fr 200px;
    min-height: 372px;
    padding: 20px 59px 0 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "img title" "text text" "link link";
    grid-template-columns: 100px 1fr;
    min-height: 374px;
  }
}

.program-card__title {
  grid-area: title;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  // fonts
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    // fonts
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
  }
}

.program-card__img {
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: $primary-500;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.program-card__img-slim {
  @media (min-width: $tablet-width) {
    width: 140px;
    height: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.program-card__img-pro {
  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
  }
}

.program-card__text {
  grid-area: text;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  // fonts
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    // fonts
    font-size: 16px;
    line-height: 24px;
  }
}

.program-card__link {
  grid-area: link;
  display: flex;
  align-items: center;
  min-height: 57px;
  text-transform: uppercase;
  color: $black;
  // fonts
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    // fonts
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    width: 30px;
    height: 16px;
    margin-left: 15px;
    background-image: url("../../img/icons/programs/arrow.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $basic-grey-3;
  }
}
