.switch-slider {
}

.switch-slider__items {
  position: relative;
  display: flex;
  height: 232px;
  width: 100%;
}

.switch-slider__img {
  width: 50%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}

.switch-slider__img--before {
  float: left;
}

.switch-slider__img--after {
  background-color: $basic-400;

  img {
    float: right;
  }
}

.switch-slider__controls {
}

.switch-slider__button {
}

.switch-slider__button--before {
}

.switch-slider__progress-bar {
}

.switch-slider__range {
}

.switch-slider__toggle {
  transform: translateX(0);
  transition: 0.5s;
}

.switch-slider__button--after {
}
