.main-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 5px;


  background-color: $basic-green;
  color: $white;
  text-transform: uppercase;
  //Fonts
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
