// Viewports------------------------------------------------------------
// breakpoint
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1300px;

// Calors---------------------------------------------------------------
$white: #ffffff;
$black: #000000;

$basic-gray: #f2f2f2;
$basic-gray-2: #eaeaea;
$basic-gray-3: #d9d9d9;

$basic-green: #68b738;
