// Viewports------------------------------------------------------------
// breakpoint
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1300px;

// Calors---------------------------------------------------------------
$white: #ffffff;
$black: #000000;

$white-opacity-00: rgba(100, 100, 100, 0);
$white-opacity-02: rgba(255, 255, 255, 0.2);

$basic-grey: #f2f2f2;
$basic-grey-2: #eaeaea;
$basic-grey-3: #d9d9d9;
$basic-grey-4: #e6e6e6;
$spac-dark-grey: #444444;

$primary-green-500: #68b738;
$primary-green-500-07: rgba(104, 183, 56, 0.7);
$primary-green-700: #5eaa2f;


// Other
$header-desktop-height: 150px;
$mobile-nav-max-height: 198px;

